blinker==1.9.0
click==8.1.8
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
Werkzeug==3.1.3
scikit-learn
flask-sqlalchemy
PYPDF2
flask-login
flask-jwt-extended
dotenv
pickle
secrets
flask_mysqldb
docx2txt
os
flask_login
re
