{% extends "base.html" %}

{% block title %}Resumes Matching{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view_resumes.css') }}">

<div class="table-container">
    <h1>Resumes records</h1>
    <table>
        <thead>
            <tr>
                <th>Resume Name</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Skills</th>
                <th>Education</th>
                <th>Similarity Score</th>
            </tr>
        </thead>
        <tbody>
            {% for resume in resumes %}
                <tr>
                    <td>
                        <a href="{{ url_for('static', filename='upload_resume/' + resume.resume_name) }}" target="_blank">
                            {{ resume.resume_name }}
                        </a>
                    </td>
                    <td>{{ resume.name }}</td>
                    <td>{{ resume.email }}</td>
                    <td>{{ resume.phone }}</td>
                    <td>{{ resume.skills }}</td>
                    <td>{{ resume.education }}</td>
                    <td>{{ resume.similarity_score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="button-group">
        <a href="{{ url_for('download_resumes_csv') }}" class="btn btn-success">Download as CSV</a>
        {% if user_role == 'hr' %}
            <a href="{{ url_for('matcher') }}" class="btn btn-secondary">Analyze More Resumes</a>
        {% endif %}
        <a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a>
    </div>
</div>
{% endblock %}
